h1{
    text-align: center;
    font-family: baskerville;
    font-size:50px;
}
h2{
    text-align: center;
    font-family: baskerville;
    font-size:50px;
}
f
#title{
    font-family: baskerville;
    font-size:2rem;

}
#navbarLeft{
    justify-content: space-between;
    
}
.container-fluid{
    width: 100%;
    
    }
.container-section{
    margin-right:20px;
} 


footer{
    background-color:orangered;
    border-color:black;
    border-top: 50px;
    color: black;
    margin-top:30px;
}
#contact {
    border: 2px solid #333;
}
h3{
    text-align: center;
    font-family: baskerville;
    font-size:50px;
}
main{
    font-size:40px;
}
hr{
    border-top: 2px solid black;
    margin: 1rem 0;
}

#button{
    background-color: red;
    color: black;
    border:solid black 2px ;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}
#button:hover {
    background-color: black;
    color: orangered;
    border:solid orangered  2px ;
}
.btn{
    background-color: black;
    color: orangered;
    border:solid black 2px ;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;}

.btn:hover {
    background-color: black;
    color:hsl(39, 96%, 50%);
    border: solid hsl(39, 96%, 50%)  2px ;
    transition-duration: 1s
}



.iframe{
    border: 2px solid black;
    border-radius: 12px;
    max-width:100%;
    max-height:100%;
    min-width:90%;
    min-height: 40%;
    margin-left:
    
}
.insta{
    border-radius: 20%;
    border: 2px solid rgb(243, 3, 227);
    padding: 2px;
    background-color: ;
    transition-duration: 0.4s;
}
.fb{
    border-radius: 20%;
    border: 2px solid rgb(19, 19, 230);
    padding: 2px;
    background-color: black;
    transition-duration: 0.4s;
}
.x{
    border-radius: 20%;
    border: 2px solid black;
    padding: 2px;
    background-color:rgb(244, 241, 241);
    transition-duration: 0.4s;
}

.card{
    margin-top:10px;
    margin-bottom: 10px;
    border-color :orangered;
    border-width: 2px;
}


/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* make all service cards the same height for consistency */
    #contact .container section {
        min-height: 195px;
    }
}

